In [1]:

import pandas as pd

In [1]:
# Import libraries
import seaborn as sns
import pandas as pd

df=pd.read_csv("house_prices.csv")
df.head(10)

,LotArea,OverallQual,YearBuilt,TotalBsmtSF,GrLivArea,GarageCars,SalePrice
0,8450,7,2003,856,1710,2,208500
1,9600,6,1976,1262,1262,2,181500
2,11250,7,2001,920,1786,2,223500
3,9550,7,1915,756,1717,3,140000
4,14260,8,2000,1145,2198,3,250000
5,14115,5,1993,796,1362,2,143000
6,10084,5,1973,1686,1694,2,307000
7,10382,7,1931,865,2090,1,200000
8,6120,6,1939,1040,1774,1,129900
9,7420,7,1965,938,1372,1,118000