In [7]:

import pandas as pd

In [ ]:
# Import libraries
import seaborn as sns
import pandas as pd

df=pd.read_csv("house_prices1.csv")
df.head(10)

,LotArea,OverallQual,YearBuilt,TotalBsmtSF,GrLivArea,GarageCars,SalePrice
0,8450.0,7.0,2003.0,856.0,1710.0,2.0,208500.0
1,9600.0,6.0,NaN,1262.0,1262.0,2.0,181500.0
2,NaN,7.0,2001.0,920.0,1786.0,2.0,223500.0
3,9550.0,7.0,1915.0,756.0,1717.0,3.0,140000.0
4,14260.0,8.0,2000.0,1145.0,2198.0,3.0,250000.0
5,14115.0,5.0,1993.0,796.0,1362.0,2.0,143000.0
6,10084.0,5.0,1973.0,1686.0,1694.0,NaN,NaN
7,10382.0,7.0,1931.0,865.0,2090.0,1.0,200000.0
8,6120.0,6.0,1939.0,1040.0,1774.0,1.0,129900.0
9,7420.0,7.0,1965.0,938.0,1372.0,1.0,NaN